<!DOCTYPE html>
<html>
<head>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
</style>
</head>
<body>

<div class="myDiv">
  <h1>Netzwerk School of Excellence</h1>
  <p>come to learn leave to earn</p>
</div>
<button  onclick="window.location.href='http://127.0.0.1:8000/student/student_form/';" type="button" style="font-size: 20px;height:40px;width:400px;background-color:yellow;margin-left:auto;margin-right:auto;display:block;margin-top:9%;margin-bottom:0%">
   Click here for New Student Registration
</button>

<button  onclick="window.location.href='http://127.0.0.1:8000/student/students_marks/';" type="button" style="font-size: 20px;height:40px;width:400px;background-color:green;margin-left:auto;margin-right:auto;display:block;margin-top:8%;margin-bottom:0%"> Click here to see Grade Wise Marks </button>


</body>
</html>